@import '../styles/var.less';

.@{prefix}spin {
  .spinShower:extend(.flex-row-center) {
    transform: translate3d(-50%, -50%, 0);
    margin: 0;
    width: auto;
    height: auto;

    .spiningWrapper {
      margin: 0;
      position: relative;
      top: -1px;

      &,
      .spinLoading {
        width: 2em;
        height: 2em;
        display: inline-block;
      }
    }

    &.tip-place-bottom {
      flex-flow: column;

      .loadingMsg {
        margin: 10px 0 0;
      }
    }

    /** 提示文字 */
    .loadingMsg {
      color: @dark2;
      margin-left: 10px;
      line-height: 1;
    }

    &.default {
      &,
      .spiningWrapper,
      .loadingMsg {
        font-size: 14px;
      }
    }

    &.small {
      &,
      .spiningWrapper,
      .loadingMsg {
        font-size: 12px;
      }
    }

    &.large {
      &,
      .spiningWrapper,
      .loadingMsg {
        font-size: 18px;
      }
    }
  }
}
